/*  index.html styling */
 :root {
    --background-color: black;
    --display:flex; 
    --flex-direction:column; 
    --margin:0.5rem; 
    --padding:1rem; 
    --font-color: #00ff00; 
    --font-family: 'Share Tech Mono', monospace;  
 }

 * {

    background-color: var(--background-color);
    color: var(--font-color);
    align-items: left;
 }

 html, body {
    display: var(--display);
    flex-direction: var(--flex-direction);
    font-weight: var(--font-family);
    font-family: var(--font-family);
    
 }
 

.site-link {
   
    text-decoration: none;
    padding: 1rem 0 1rem 0; 
    color:cyan;
    text-shadow: 0 0 5px #00ff00;
    font-size: 1.5rem;
    display: inline-block;
   
    
}

details[open] a.as-link {
   text-decoration: none; 
    color:cyan;
    text-shadow: 0 0 5px #00ff00;
    display:inline-block !important;  
}
.site-link:hover, details[open] a.as-link:hover {
    text-decoration: underline;
    transform: translateY(-5px);
    transition: 0.2s ease; 
}

.site-link:focus {
    text-decoration: underline;
    transform: translateY(-5px);
    transition: 0.2s ease; 
    
}
  
 title {
    visibility: hidden; 
 }

 html, body {
    margin-left: 1rem; 
   
 }

 hr {
    color: whitesmoke; 
    width: 90vw; 
    margin-left :-1rem;
    margin-bottom:3rem; 
    opacity: 50%;
    background-color: #00ff00;
    
 }

  details[open] summary {
    opacity: 50%;
  }
 
 .as-list {
    padding-bottom: 2rem; 
 }

 .as-list:not([open]):hover {
   transform: translateY(-5px);
   transition: 0.2s ease;  
 }

 .as-list:focus {
    transform: translateY(-5px);
    transition: 0.2s ease; 
 }

ul {
   display: grid;
   grid-template-columns: repeat(2, auto);
   gap: 0.5rem; 
}
 ul li {
    line-height: 2;             
 }

 